<h1>Danh sách loại sản phảm</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Mô tả</th>
      <th scope="col">Tùy chọn</th>
    </tr>
  </thead>
  <tbody>
    {{#each listCategories}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.category_id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>
          <a
            class="btn btn-warning py-0"
            href="/categories/{{this.category_id}}/edit"
            role="button"
          >Sửa</a>
          <button type="button" class="btn btn-danger py-0">Xóa</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>