<h1>List users</h1>
{{! <p><a href="/user/create">Create User</a></p> }}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">ID</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Tùy chọn</th>
    </tr>
  </thead>
  <tbody>
    {{#each listUsers}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.user_id}}</td>
        <td>{{this.email}}</td>
        <td>{{this.password}}</td>
        <td>{{this.name}}</td>
        <td>{{this.address}}</td>
        <td>
          <a
            class="btn btn-warning py-0"
            href="/users/{{this.user_id}}/edit"
            role="button"
          >Sửa</a>
          <button type="button" class="btn btn-danger py-0">Xóa</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>